@using SolidarnieWebApp.HtmlHelpers;

@model SolidarnieWebApp.Models.UzytkownikEditModel

@{
    ViewBag.Title = "Dodawanie użytkownika";
}

<h2>Dodowanie użytkownika</h2>

@Html.GenerujFormularz(Url.Action("Create"), Model, ViewData, Url.Action("Index"))