@using SolidarnieWebApp.HtmlHelpers;

@model SolidarnieWebApp.Models.UzytkownikEditModel

@{
    ViewBag.Title = "Dodawanie użytkownika";
}

<h2>Dodowanie użytkownika</h2>

@Html.GenerujFormularz("Create", "Uzytkownicy", Model, Url.Action("Index"))