@using SolidarnieWebApp.HtmlHelpers;

@model SolidarnieWebApp.Models.UzytkownikEditModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edycja użytkownika</h2>

@Html.GenerujFormularz(Url.Action("Edit"), Model, ViewData, Url.Action("Index"))

