@using SolidarnieWebApp.HtmlHelpers
@using SolidarnieWebApp.Models.Uprawnienia;
@model DefiniowanieUprawnienUzytkownikaModel
<h3>Uprawnienia u¿ytkownika: @Model.NazwaUzytkownika</h3>
@Html.Action("Form", new { uzytkownikID = Model.UzytkownikID })