@using SolidarnieWebApp.HtmlHelpers
@model DefiniowanieUprawnienUzytkownikaModel
<h3>Uprawnienia u¿ytkownika: @Model.NazwaUzytkownika</h3>
@Html.HiddenFor(m => m.UzytkownikID)
@Html.GenerujTable(Model.Uprawnienia)