@using Kruchy.Zakupy.Views;
@model KomorkaTabeliModel

@{ 
    var wiersz = (ZamowionyProduktModel)Model.Wiersz;
    var ilosciUzytkownika = wiersz.IlosciUzytkownikow as IEnumerable<IloscUzytkownika>;
}
<ul>
@foreach (var iloscUzytkownika in ilosciUzytkownika)
{
    <li>@iloscUzytkownika.NazwaUzytkownika - @iloscUzytkownika.Ilosc</li>
}
</ul>