@using SolidarnieWebApp.HtmlHelpers;
@model SolidarnieWebApp.Models.LoginModel

@{
    ViewBag.Title = "Logowanie";
}

<h2>Zaloguj</h2>

@Html.GenerujFormularz("Login", "Logowanie", Model, Url.Action("Index", "Home"))

